name: test
on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: job1
        run: echo job1
  job2:
    runs-on: ubuntu-latest
    steps:
      - name: job2
        run: echo job2
