name: test
on:
  workflow_dispatch:

jobs:
  success:
    runs-on: ubuntu-latest
    steps:
      - name: success
        run: echo success
  fail:
    runs-on: ubuntu-latest
    steps:
      - name: fail
        run: echo fail
